body {
	margin-top: 125px; /* adjust this if the height of the menu bar changes */
}

.nav {
	margin-top: 28px; /* this is a faux center fix for the nav options - adjust this if you wish to change the logo height or the font of the menu items */
}

footer {
	padding: 30px 0;	
}

.container .col-lg-9 p {
  font-size: 1.3em;
}

.container .col-lg-7, .col-lg-6 {
  font-size: 1.3em;
}

#missionpic {
  margin-top: 2em;
}

#services h1, p {
  margin-top: 1em;


}

#servicegroups .col-lg-4 p {
  font-size: 1.3em;
}



body {
  font-family: 'Rufina', serif;
  
  font-size: 1.3em;
}

.nav li {
  font-size: 1.3em;
  
}

p {
  font-size: 1.3em;
}


